@import url('https://fonts.googleapis.com/css?family=Roboto:400');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;

    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: 400;
    color: #000;

    --dark_green: #506C4D;
    --light_green: #98BE93;
    --suscribe_color: #FCD683;
    --cream: #FBFFFB;
    --green_bg: #DAFFD6;
    --footer_bg: #474747;
    --snow: #F1F1F1;
    --white: #FFF;
    --asparagus: #7BAE7F;
    --black-hover: #141f15;
}

/* header */
header {   
    display: flex; 
    background: linear-gradient(90deg, var(--dark_green), var(--light_green));
    color: white;
    max-height: 5.625rem;
    min-height: 4.375rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
}

a{
    text-decoration: none;
}

nav ul.nav li a {
    color: white;
}

.logo {
    max-width: 9rem;
}

header nav {
    display: flex;
    flex-direction: row;
}
.nav li{
    margin: 0rem .9rem;
}

header .nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    letter-spacing: 0.05em;
    margin: 0rem auto;
}

.nav a:hover {
    color: #141f15;
}

.nav a.suscri:hover{
    color: #FCD683;
}

/* Main */
.main-container {
    display: flex;
    justify-content: center;
}

div.container-1{
    justify-content: center;
    display: flex;
    width: 200px;
    margin: 1.6rem 1rem;
}

div.container-2{
    width: 600px;
    justify-content: center;
    margin: 1.6rem 3.5rem;
}

div.container-3{
    width: 20%;
    justify-content: center;
    margin: 1.6rem 3.5rem;
}

div.subContainer-1{
    justify-content: center;
    margin: 1rem 1rem;
}

.opc{
    display: flex;
    margin: .4rem .4rem;
}

.select{
    background-color: var(--green_bg);
}

.txt:hover{
    font-weight: 600;
}

img{
    margin: .4rem .4rem;
}

.option ul li{
    padding: .1rem;
}

.choose{
    margin: 1.5rem 0rem;
}

.left-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

hr {
    margin-block-start: 1.6rem;
    margin-block-end: 1rem;
}

.subTitle, .thema, .size, .language, .title-select ,.btn{
    font-weight: 500;
}

.size, .language, .title-select{
    margin: .4rem 0rem;
}

.subTitle{
    margin: 1.3rem 0rem;
}

.circle-1{
    display: flex;
    height: 20px;
    width: 20px;
    background-color: var(--dark_green);
    border-radius: 50%;
    border: 1px solid #000;
    margin: .1rem .4rem;
}
.circle-2{
    display: flex;
    height: 20px;
    width: 20px;
    background-color: var(--white);
    border-radius: 50%;
    border: 1px solid #000;
    margin: .1rem .4rem;
}

.txt{
    font-size: 1.1rem;
    color:#000;
    margin: .7rem .5rem;
}

#max{
    font-size: 1.5rem;
}

.txt1{
    font-size: 1rem;
    margin: .2rem 0rem;
    text-decoration: none;
}

.txt1:hover{
    font-weight: 600;
}

.txt1 a{
    text-decoration: none;
    color: #000;
}

.subChoose{
    display: flex;
    margin: .3rem .0rem;
}

.buttons{
    display: flex;
    width: 100%;
}

.btn {
    color:var(--white);
    flex-grow: 1;
    font-size: 1rem;
    margin: .4rem;
    padding: 0.6rem 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--asparagus);
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.btn:hover{
    background-color: var(--black-hover);
}

.title-select{
    color: var(--white);
}

.selectBox{
    width:30%;
    margin: .2rem .5rem;
    position: relative;
}

.selected{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .16);
    background-color: var(--asparagus);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .1rem;
    transition:.2s ease all;
    padding: .2rem .7rem;
    position: relative;
    z-index: 200;
    border: 2px solid transparent;
}

.selectBox :hover{
    background-color: var(--black-hover);
}

@media screen and (max-width: 880px) {
    div.container-1 {
        margin: 1rem 0.5rem;
    }
    div.container-2 {
        margin: 1rem 0.8rem;
    }
    div.subContainer-1 {
        margin: .8rem;
    }
    div.subContainer-2 {
        width: 100%;
    }
    .buttons {
        flex-direction: column;
    }
    .selectBox {
        width: 40%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 500px)  {
    .opc a{
        font-size: .8rem;
    }
    .opc img {
        width: 18px;
    }
}

