@import url('https://fonts.googleapis.com/css?family=Roboto:400');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;

    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: 400;
    color: #000;

    --dark_green: #506C4D;
    --light_green: #98BE93;
    --suscribe_color: #FCD683;
    --cream: #FBFFFB;
    --green_bg: #DAFFD6;
    --footer_bg: #474747;
    --snow: #F1F1F1;
    --white: #FFF;
    --asparagus: #7BAE7F;
    --black-hover: #141f15;
}

/* header */
header {   
    display: flex; 
    background: linear-gradient(90deg, var(--dark_green), var(--light_green));
    color: white;
    max-height: 5.625rem;
    min-height: 4.375rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
}

a{
    text-decoration: none;
}

nav ul.nav li a {
    color: white;
}

.logo {
    max-width: 9rem;
}

header nav {
    display: flex;
    flex-direction: row;
}
.nav li{
    margin: 0rem .9rem;
}

header .nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    letter-spacing: 0.05em;
    margin: 0rem auto;
}

.nav a:hover {
    color: #141f15;
}

.nav a.suscri:hover{
    color: #FCD683;
}

/* Main */
main{
    justify-content: center;
    display: flex;
}

div.container-1{
    justify-content: center;
    display: flex;
    width: 10%;
    margin: 1.6rem 1.5rem;
}

div.container-2{
    width: 60%;
    justify-content: center;
    display: flex;
    margin: 1.6rem 1rem;
}

div.subContainer-1{
    justify-content: center;
    margin: 0rem 1.5rem;
}

div.subContainer-2{
    align-items: center;
    justify-content: center;
    width: 50%;
}

.opc{
    display: flex;
    margin: .4rem .4rem;
}

.select{
    background-color: var(--green_bg);
}

.txt{
    font-size: 1.1rem;
    color:#000;
    margin: .8rem .8rem;
}

.txt:hover{
    font-weight: 600;
}

img{
    margin: .4rem .4rem;
}

.option ul li{
    padding: .1rem;
}

.back{
    margin-top: 30rem;
}



hr {
    margin-block-start: 1.6rem;
    margin-block-end: 1rem;
}
.title{
    margin: .9rem 0px;
}

.insert{
    margin: .5rem 0px; 
}

.Form {
    align-items: center;
    width: 100%;
    margin: 5rem 2rem;
}

.Form input {
    width: 90%;
    border-radius: 4px;
    border: solid  1px var(--light_green);
    padding: 10px .8rem;
    margin-top: .2rem;
}
.Form .subtitle-input {
    font-weight: 500;
    font-size: x-large;
}

.input-container {
    margin: 1rem 0rem;
}

.input-container .buttons-gen-container {
    display: flex;
}
.buttons-gen-container{
    width: 90%;
}

.btn-gen, .btn-gen-activated {
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--black-hover);
    flex-grow: 1;
    border-radius: 5px;
    color: var(--black-hover);
    background-color: var(--cream);
    padding: .5rem 0;
    margin: 0 .9rem;
    cursor: pointer;
    transition: .2s;
}

.btn-gen:hover, .btn-gen-activated {
    background-color: var(--asparagus);
}

.btn-save{
    margin: 1rem 5rem;
    align-items: center;
    width: 60%;
    padding: 1rem 0;
    font-weight: 400;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--asparagus);
    cursor: pointer;
    transition: .2s;
}
.btn-save:hover{
    background-color: var(--black-hover);
}

.footer-form{
    text-align: center;
    margin-top: 7rem;
}